{% extends "admin/base.html" %}

{% block titulo %}Reportes Clientes{% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reportes Clientes</h1>
<p class="mb-4"> Lista en orden ascendente de los clientes que compraron más productos en los meses de Julio a Noviembre
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Cantidad productos comprados</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <th>{{cliente[2]}}</th>
                        <th>{{cliente[0]}} {{cliente[1]}}</th>
                        <th>{{cliente[3]}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}