{%extends "admin/base.html"%}

{% block titulo %}Perfil Producto{% endblock %}

{% block contenido %}

<h1 class="h3 mb-2 text-gray-800">Detalle producto</h1>
<p class="mb-4">
    En esta area podrá encontrar datos relacionados los datos del producto: {{producto.nombre}}
</p>

<div class="container">

    <div class="row">

        <div class="col-sm">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Datos básicos</h6>
                </div>
                <div class="card-body">
                    <form action="{{url_for('producto.edit_producto')}}" method="POST">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-5 col-form-label">Nombre del producto</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="nombre" name="nombre" type="text"
                                    value="{{producto.nombre}}"  />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-5 col-form-label">Descripcion del producto</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="descripcion" name="descripcion" type="text"
                                    value="{{producto.descripcion}}"  />
                                    <input id="idProducto" name="idProducto" type="hidden"
                                    value="{{producto.idProducto}}" />
                            </div>
                        </div>

                      
                        <button type="submit" class="btn btn-success btn-icon-split" id="btnGuardar"
                           >
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Guardar cambios</font>
                                </font>
                            </span>
                        </button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}

