{% extends "admin/base.html" %} 


{% block titulo %}Editar venta{% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">venta</h1>
<p class="mb-4">
    En esta area podrá encontrar datos relacionados a la venta {{venta.fecha}}
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos de la venta</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('venta.edit_perfil')}}" method="post">
           
           
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">fecha</label>
                        <input type="text" class="form-control" id="fecha" name="fecha" 
                            value="{{venta.fecha}}" />
                        <input type="hidden" class="form-control"  name="idVenta" 
                        value="{{venta.idVenta}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">valor</label>
                        <input type="text" class="form-control" id="valor" name="valor" 
                            value="{{venta.valor}}" />
                    </div>
                </div>
            </div>
        

            <button type="submit"  class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar pedido</font></font></span>
            </button>
           
     
        </form>
    </div>
</div>

{% endblock %}


