{% extends "admin/base.html" %}


{% block titulo %}Empleados del mes {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Empleados</h1>
<p class="mb-4">Listar los 3 mejores empleados con mas valor (total- suma) en ventas realizadas en el mes.</p>
<code>
  SELECT em.cedula,em.primerNombre, em.primerApellido,SUM(valor)  FROM empleado em <br>
  INNER JOIN venta ve ON ve.Empleado_cedula = em.cedula <br>
  
  WHERE ve.fecha BETWEEN '2019-01-01' AND '2019-01-31'<br>
  GROUP BY em.cedula,em.primerNombre, em.primerApellido<br>
  ORDER BY SUM(valor) DESC LIMIT 3<br>

</code>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Cedula </th>
            <th>Nombres</th>
            <th>valor en ventas  </th>
          </tr>
        </thead>

        <tbody>
          {% for empleado in empleados %}
          <tr>
            <th>{{empleado[0]}}</th>
            <th>{{empleado[1]}}{{empleado[2]}}</th>
            <th>{{empleado[3]}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}