
{% extends "admin/base.html" %} 


{% block titulo %}Nueva Venta {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nueva venta</h1>
<p class="mb-4">
    En esta area podrá agregar una nueva venta
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos de la venta</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('venta.add_venta')}}" method="post">
            
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fecha">Fecha </label>
                        <input class="form-control" id="fecha" name="fecha" type="text" readonly />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Valor</label>
                        <input type="text" class="form-control" id="valor" name="valor" 
                             />
                    </div>
                </div>
            </div>
        

            <button type="submit"  class="btn btn-success btn-icon-split" id="btnGuardar" >
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar</font></font></span>
            </button>
        </form>
    </div>
</div>

{% endblock %}