{% if session.admin %}
{% extends "admin/base.html" %} 
{% endif %}

{% if not session.admin %}

{% extends "empleado/base.html" %} 

{% endif %}


{% block titulo %}Perfil Empleado {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nuevo empleado</h1>
<p class="mb-4">
    En esta area podrá agregar un nuevo empleado
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('empleado.add_empleado')}}" method="post">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Cedula</label>
                <div class="col-sm-9">
                    <input class="form-control" id="cedula" name="cedula" type="text"    />
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Correo electrónico</label>
                <div class="col-sm-9">
                    <input class="form-control" id="email" name="email" type="text"  />
                </div>
            </div>
            <div class="form-group row">
                    <label for="passwd" class="col-sm-3 col-form-label">Contraseña</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="password" name="password" type="password"   />
                    </div>
                </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer Nombre</label>
                        <input type="text" class="form-control" id="primerNombre" name="primerNombre" 
                             />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo Nombre</label>
                        <input type="text" class="form-control" id="segundoNombre" name="segundoNombre" 
                             />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer apellido</label>
                        <input type="text" class="form-control" id="primerApellido" name="primerApellido" 
                             />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo apellido</label>
                        <input type="text" class="form-control" id="segundoApellido" name="segundoApellido" 
                             />
                    </div>
                </div>
            </div>
        

            <button type="submit"  class="btn btn-success btn-icon-split" id="btnGuardar" >
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar</font></font></span>
            </button>
        </form>
    </div>
</div>

{% endblock %}


