
{% extends "admin/base.html" %} 


{% block titulo %}Nuevo producto {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nuevo producto</h1>
<p class="mb-4">
    En esta area podrá agregar un nuevo producto
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos del producto</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('producto.add_producto')}}" method="post">
            
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" 
                             />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" 
                             />
                    </div>
                </div>

            </div>
            <button type="submit"  class="btn btn-success btn-icon-split" id="btnGuardar" >
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar</font></font></span>
            </button>
        </form>
    </div>
</div>

{% endblock %}