{% extends "admin/base.html" %}

{% block titulo %}Perfil pedido {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nuevo pedido</h1>
<p class="mb-4">
    En esta area podrá agregar un nuevo pedido
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Datos del pedido</h4>
    </div>
    <div class="card-body">
        <form action="{{url_for('pedido.add_pedido')}}" method="post">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Empleado</label>
                <div class="col-sm-9">
                    <input class="form-control" id="empleado" name="nombreEmpleado" type="text"
                        value="{{session.primerNombre}} {{session.segundoNombre}}" readonly />
                    <input class="form-control" name="cedula" type="hidden" value="{{session.cedula}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fecha">Fecha de realización</label>
                        <input class="form-control" id="fecha" name="fecha" type="text" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="valor">Valor total del pedido</label>
                        <input class="form-control" id="valorTotalPedido" name="valorTotalPedido" type="text" readonly />
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 style="text-align:center;" class="m-0 font-weight-bold text-primary">Detalle del pedido</h5>
                    <button type="button" id="btnAgregarProducto" class="btn btn-primary" data-toggle="modal" data-target="#modalTelefonos"
                        data-whatever="@getbootstrap">Agregar producto</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableDetallePedido" style="text-align:center;" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre producto</th>
                                    <th>Fecha vencimiento</th>
                                    <th>Valor</th>
                                    <th>Cantidad</th>
                                    <th>Valor total</th>
                                    <th> - </th>
                                </tr>
                            </thead>

                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <button type="submit" onclick="verificarPedido()" class="btn btn-success btn-icon-split"  id="btnGuardar">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Guardar</font>
                    </font>
                </span>
            </button>


            <div class="modal fade bd-example-modal-lg" tabindex="-1" id="modalTelefonos" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloDialogo">Agregar un producto</h5>
                        </div>

                        <div class="modal-body">

                            <form id="tabla">


                                <!-- AQUI LA TABLA DE LOS PRODUCTOS LABORATORIOS -->
                                <div class="table-responsive">
                                    <table style="text-align:center;" class="table table-bordered" id="dataTable"
                                        width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Presentacion</th>
                                                <th>Laboratorio</th>
                                                <th>Costo</th>
                                                <th>Fecha <br> vencimiento</th>
                                                <th>+</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            {% for prod in productosLab %}
                                            <tr>
                                                <th>{{prod[0]}}</th>
                                                <th>{{prod[4]}}</th>
                                                <th>{{prod[1]}} </th>
                                                <th>{{prod[2]}} </th>
                                                <th>{{prod[3]}}</th>
                                                <th>
                                                    <button  type="button" data-dismiss="modal" onclick="agregarProd('{{prod[0]}}','{{prod[3]}}',{{prod[2]}},{{prod[5]}})" class="btn btn-success btn-circle">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                            </form>

                        </div>

                        <div class="modal-footer">

                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button  type="button"  style="margin: 2px;" class="btn btn-outline-danger"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </form>
    </div>
</div>

{% endblock %}



{% block codeJS%}

<script>
    let contador = 0;
    let f = new Date();
    document.getElementById("fecha").value = f.getFullYear() + "/" +  (f.getMonth() + 1)  + "/" + f.getDate() +" "+f.getHours() +":" + f.getMinutes() +":" + f.getSeconds();

    function agregarProd(nombreProd,fechaVen,valor,idProductoLaboratorio) {
        contador +=1;
        let fila = "<tr>" + "<td>" + nombreProd + "</td>" + "<td>" + fechaVen + "</td>" 
            + "<td><p id='valor"+contador+"'>"+valor+"</p></td>" 
            +"<td ><input type='number' id='cant"+contador+"' name='cant"+contador+"' onchange='cambioCantidad("+contador+")' class='form-control col-md-3' style='text-align: center;display: inline-block;' value='1'></td>" 
            +"<td><p id='valorTotal"+contador+"'> " + valor + " </p> </td>" 
            + " <input type='hidden'  value='" + idProductoLaboratorio + "' name='contadorProducto"+contador+"' >"
            + "<td> <button type='button' id='filaProducto"+contador+"' onclick='eliminarFila(this)' class='btn btn-danger btn-circle btn-lg'>   <i class='fas fa-trash'></i></button ></td>"
           +"</tr>";
        
        let btn = document.createElement("TR");

        btn.innerHTML = fila;
        document.getElementById("tableDetallePedido").appendChild(btn);
        cambioValorTotalPedido();
    }

    function eliminarFila(row) {
        var d = row.parentNode.parentNode.rowIndex;
        document.getElementById('tableDetallePedido').deleteRow(d);
    }

    function cambioCantidad(cont) {
        let cant = document.getElementById("cant"+cont).value
        let v = "valor"+cont;
        let valor = parseFloat(document.getElementById(v).innerHTML)
        document.getElementById("valorTotal"+cont).innerHTML  = " "+cant*valor
        cambioValorTotalPedido();
    }

    function cambioValorTotalPedido() {
        let valT = 0;
        for (let index = 1; index <= contador; index++) {
            let valProducto = parseFloat(document.getElementById("valorTotal"+index).innerHTML);
            valT += valProducto;
        }
        document.getElementById("valorTotalPedido").value = valT
    }

    function verificarPedido() {
        let fila = "<input type='hidden' name='contadorFilas' value='"+contador+"'>" 
        let btn = document.createElement("TR");
        btn.innerHTML = fila;
        document.getElementById("tableDetallePedido").appendChild(btn);
    }

</script>
<!-- Page level plugins -->
<script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>

{% endblock %}