{% extends "admin/base.html" %}


{% block titulo %}Nuevo cliente {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nuevo cliente</h1>
<p class="mb-4">
    En esta area podrá agregar un nuevo cliente
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('cliente.add_cliente')}}" method="post">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer Nombre</label>
                        <input type="text" class="form-control" id="primerNombre" name="primerNombre" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo Nombre</label>
                        <input type="text" class="form-control" id="segundoNombre" name="segundoNombre" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer apellido</label>
                        <input type="text" class="form-control" id="primerApellido" name="primerApellido" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo apellido</label>
                        <input type="text" class="form-control" id="segundoApellido" name="segundoApellido" />
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-success btn-icon-split" id="btnGuardar">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Guardar</font>
                    </font>
                </span>
            </button>
        </form>
    </div>
</div>

{% endblock %}