{% extends "admin/base.html" %}


{% block titulo %}Nuevo laboratorio {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nuevo laboratorio</h1>
<p class="mb-4">
    En esta area podrá agregar un nuevo laboratorio
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos Laboratorio Distribuidor</h6>
    </div>

    <div class="card-body">

        <form action="{{url_for('laboratorio.add_laboratorio')}}" method="post">

            <div class="form-group row">

                <label for="nom" class="col-sm-2 col-form-label">Nombre laboratorio</label>
                <div class="col-sm-3">
                    <input class="form-control" id="nombre" name="nombre" placeholder="Ejm: laboratorios S.A">
                </div>

                <label for="dir" class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-3">
                    <input class="form-control" id="direccion" name="direccion" placeholder="Ejm: Cra. 14 #4-5">
                </div>

            </div>

            <div class="form-group row">

                <div class="col-sm-6">
                    <button type="button" onclick="ponerNombre()" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalTelefonos" data-whatever="@getbootstrap">Lista telefonica</button>

                    <button type="submit" class="btn btn-success btn-icon-split" id="btnGuardar">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Guardar</font>
                            </font>
                        </span>
                    </button>
                </div>
            </div>

            <div class="modal fade" id="modalTelefonos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloDialogo">Agregar un nuevo telefono</h5>
                        </div>

                        <div class="modal-body">

                            <form id="tabla" name="tabla">

                                <div class="form-group">
                                    <p id="lab"></p>

                                    <div class="col-sm-10">
                                        <input class="form-control" id="numTelefono" placeholder="Ejm: 7365263">
                                    </div>
                                </div>

                                <table class="table table-sm" id="tablita">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Numero telefonico</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tablaLista">

                                    </tbody>
                                </table>

                            </form>

                        </div>

                        <div class="modal-footer">

                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" style="margin: 2px;" class="btn btn-outline-success"
                                        onclick=guardar()>Agregar
                                        telefono</button>
                                </div>

                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button type="button" style="margin: 2px;" class="btn btn-outline-danger"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </div>

</div>

{% endblock %}

{% block codeJS %}

<script>
    function ponerNombre() {
        let nombreLab = document.getElementById("nombre");
        document.getElementById('lab').innerHTML = nombreLab.value;

    }
</script>

<script>

    function guardar() {

        var telefono = document.getElementById("numTelefono").value;

        var filas = document.getElementById("tablaLista").getElementsByTagName("TR").length;

        var fila = "<tr>" + "<td>" + (filas + 1) + "</td>" + "<td>" + telefono + "</td>" + "</tr>";

        var btn = document.createElement("TR");

        btn.innerHTML = fila;
        document.getElementById("tablaLista").appendChild(btn);
    }

</script>

{% endblock %}