{%extends "admin/base.html"%}

{% block titulo %}Perfil Laboratorio{% endblock %}

{% block contenido %}

<h1 class="h3 mb-2 text-gray-800">Detalle laboratorio</h1>
<p class="mb-4">
    En esta area podrá encontrar datos relacionados los datos del laboratorio: {{laboratorio.nombre}}
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('laboratorio.edit_laboratorio')}}" method="post">

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Código laboratorio</label>
                <div class="col-sm-6">
                    <input class="form-control" id="idLaboratorio" name="idLaboratorio" type="text"
                        value="{{laboratorio.idLaboratorio}}" readonly />
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Nombre laboratorio</label>
                <div class="col-sm-6">
                    <input class="form-control" id="nombre" name="nombre" type="text" value="{{laboratorio.nombre}}"
                        readonly />
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Dirección laboratorio</label>
                <div class="col-sm-6">
                    <input class="form-control" id="direccion" name="direccion" type="text"
                        value="{{laboratorio.direccion}}" readonly />
                </div>
            </div>

            <button type="button" onclick="activarEdicion()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Editar perfil</font>
                    </font>
                </span>
            </button>

            <button type="submit" class="btn btn-success btn-icon-split" id="btnGuardar" style="display: none;">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Guardar cambios</font>
                    </font>
                </span>
            </button>

        </form>
    </div>
</div>

{% endblock %}

{% block codeJS %}

<script>

    function activarEdicion() {

        document.getElementById("nombre").removeAttribute("readonly");
        document.getElementById("direccion").removeAttribute("readonly");
        document.getElementById("btnGuardar").style.display = 'inline';

    }

</script>

{% endblock %}