{% extends "admin/base.html" %}


{% block titulo %}productos del mes {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">productos</h1>
<p class="mb-4">Listar los productos mas vendidos del mes.</p>

<code>
    SELECT idProducto,nombre, SUM(cantidad) FROM DetalleVenta de <br>
            INNER JOIN productolaboratorio prolab ON prolab.Producto_idProducto = de.ProductoLaboratorio_idProductoLaboratorio<br>
            INNER JOIN producto pro ON pro.idProducto = prolab.Producto_idProducto<br>
            INNER JOIN venta ve ON ve.idVenta = de.Venta_idVenta<br>
            WHERE ve.fecha BETWEEN '2019-01-01' AND '2019-01-31'<br>
            GROUP BY idProducto,nombre<br>
            ORDER BY SUM(cantidad) DESC<br>
</code><br>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>idProducto </th>
            <th>Nombre</th>
            <th>Cantidad</th>
          </tr>
        </thead>

        <tbody>
          {% for producto in productos %}
          <tr>
            <th>{{producto[0]}}</th>
            <th>{{producto[1]}}</th>
            <th>{{producto[2]}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}