{% extends "admin/base.html" %}

{% block titulo %}Reportes Productos{% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reportes Productos</h1>
<p class="mb-4">Lista de los productos y la cantidad de veces que éste ha sido devuelto en todo un año.
    El reporte solo muestra los dos primeros productos de cada mes del año.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}