{% extends "admin/base.html" %}


{% block titulo %}productos a caducar {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Productos</h1>
<p class="mb-4">listar los productos proximos a cumplir su fecha de vencimiento.</p>

<code>
 
SELECT idProducto,nombre,prolab.fechaVencimiento FROM Producto pro <br>
INNER JOIN ProductoLaboratorio prolab ON pro.idProducto = prolab.Producto_idProducto<br>
WHERE prolab.fechaVencimiento BETWEEN '2019-01-01' AND '2019-01-31'<br>
ORDER BY prolab.fechaVencimiento  ASC<br>
</code><br>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>idProducto </th>
            <th>Nombre</th>
            <th>fecha</th>
          </tr>
        </thead>

        <tbody>
          {% for producto in productos %}
          <tr>
            <th>{{producto[0]}}</th>
            <th>{{producto[1]}}</th>
            <th>{{producto[2]}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}