{% extends "admin/base.html" %}

{% block titulo %}Reportes Productos{% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reportes Productos</h1>
<p class="mb-4">Lista de los primeros 10 productos que con menos frecuencia se han pedido a los laboratorios.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código Producto</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cantidad de veces pedido</th>
                    </tr>
                </thead>

                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <th>{{producto[2]}}</th>
                        <th>{{producto[0]}}</th>
                        <th>{{producto[1]}}</th>
                        <th>{{producto[3]}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}