{% extends "admin/base.html" %}


{% block titulo %}Tabla Clientes {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Clientes</h1>
<p class="mb-4">Clientes registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align: center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('cliente.add_cliente') }}" class="btn btn-success">
      <span class="text">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Registrar un nuevo cliente</font>
        </font>
    </span>
      </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>IdCliente</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for cliente in clientes %}
          <tr>
            <th>{{cliente[0]}}</th>
            <th>{{cliente[1]}} {{cliente[2]}} </th>
            <th>{{cliente[3]}} {{cliente[4]}}</th>
            <th><a href="{{url_for('cliente.perfil',id=cliente[0]) }}" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
              </span>
              <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></span>
            </a>

              <a href="{{url_for('cliente.delete_cliente',id=cliente[0]) }}" class="btn btn-danger btn-circle btn-lg">
                  <i class="fas fa-trash"></i>
               </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}