
{% extends "admin/base.html" %} 


{% block titulo %}Tabla productos laboratorio {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Producto Laboratorio</h1>
<p class="mb-4">Productos comprados registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('empleado.add_empleado') }}" class="btn btn-success btn-circle">
        <i class="fas fa-check"></i>
      </a>
    
  </div>
  <div class="card-body">
   <div class="table-responsive" >
      <table  style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Laboratorio</th>
            <th>Costo</th>
            <th>Fecha vencimiento</th>
            <th>Presentacion</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>
         
        <tbody>
        {% for prodLab in productosLab %}
          <tr>
            <th>{{proLab[0]}}</th>
            <th>{{proLab[1]}}</th>
            <th>{{proLab[3]}} </th>
            <th>{{proLab[4]}}</th>
            <th>{{proLab[5]}}</th>
            <th >
               <a href="{{url_for('proLab.perfil',id=proLab[0]) }}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></span>
              </a>

                <a href="{{url_for('proLab.delete_proLab',id=proLab[0]) }}" class="btn btn-danger btn-circle btn-lg">
                    <i class="fas fa-trash"></i>
                 </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}