{% extends "admin/base.html" %}


{% block titulo %}Tabla pedidos {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Pedidos</h1>
<p class="mb-4">Pedidos registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('pedido.add_pedido') }}" class="btn btn-success">
      <span class="text">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Registrar un nuevo pedido</font>
        </font>
      </span>
    </a>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>idPedido</th>
            <th>Nombre Empleado</th>
            <th>Fecha de realizacion</th>
            <th>Valor del pedido</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for pedido in pedidos %}
          <tr>
            <th>{{pedido[0]}}</th>
            <th>{{pedido[1]}} {% if pedido[2] %}{{pedido[2]}}{% endif%}</th>
            <th>{{pedido[3]}}</th>
            <th>{{pedido[4]}}</th>
            <th >
              <a href="{{url_for('pedido.pedidoid',id=pedido[0]) }}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></span>
              </a>
              <a href="{{url_for('pedido.delete_pedido',id=pedido[0]) }}"  class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Eliminar pedido</span>
                </a>
            </th>
          </tr>
          
                    
          {% endfor %}
        </tbody>
      </table>


      <!-- Modal -->

    </div>
  </div>
</div>


{% endblock %}