{% extends "admin/base.html" %}


{% block titulo %}Tabla empleados {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Empleados</h1>
<p class="mb-4">Empleados registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('empleado.add_empleado') }}" class="btn btn-success">
      <span class="text">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Agregar un nuevo empleado</font>
        </font>
      </span>
    </a>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Cedula </th>
            <th>Nombres</th>
            <th>Apellidos </th>
            <th>Correo </th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for empleado in empleados %}
          <tr>
            <th>{{empleado[0]}}</th>
            <th>{{empleado[1]}} {% if empleado[2] %}{{empleado[2]}}{% endif%}</th>
            <th>{{empleado[3]}} {{empleado[4]}}</th>
            <th>{{empleado[5]}}</th>
            <th>
              <a href="{{url_for('empleado.edit_perfil',id=empleado[0]) }}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Editar</font>
                  </font>
                </span>
              </a>

              <a href="{{url_for('empleado.delete_empleado',id=empleado[0]) }}"
                class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
              </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}