{% extends "admin/base.html" %}


{% block titulo %}Tabla ventas {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Ventas</h1>
<p class="mb-4">Ventas registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('venta.add_venta') }}" class="btn btn-success">
      <span class="text">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Registrar una nueva venta</font>
        </font>
      </span>
    </a>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>idVenta</th>
            <th>Fecha</th>
            <th>Valor de la venta</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for venta in ventas %}
          <tr>
            <th>{{venta[0]}}</th>
            <th>{{venta[1]}}</th>
            <th>{{venta[3]}}</th>
            <th>
              <a href="{{url_for('venta.perfilVen',id=venta[0]) }}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Editar</font>
                  </font>
                </span>
              </a>

              <a href="{{url_for('venta.delete_venta',id=venta[0]) }}" class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
              </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}