{% if session.admin %}
{% extends "admin/base.html" %}
{% endif %}

{% if not session.admin %}

{% extends "empleado/base.html" %}

{% endif %}


{% block titulo %}Tabla Productos {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Productos</h1>
<p class="mb-4">Productos registradas en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
    <a style="float: right;" href="{{url_for('producto.add_producto') }}" class="btn btn-success">
      <span class="text">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Crear un nuevo producto</font>
        </font>
      </span>
    </a>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id Producto </th>
            <th>Nombre</th>
            <th>Descripcion </th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for producto in productos %}
          <tr>
            <th>{{producto[0]}}</th>
            <th>{{producto[1]}} </th>
            <th>{{producto[2]}}</th>
            <th>
              <a href="{{url_for('producto.perfilPro',id=producto[0]) }}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Editar</font>
                  </font>
                </span>
              </a>

              <a href="{{url_for('producto.delete_producto',id=producto[0]) }}"
                class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
              </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block codeJS %}
{% endblock %}