{% extends "admin/base.html" %}

{% block titulo %}Tabla Laboratorios {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Laboratorios</h1>
<p class="mb-4">Laboratorios distribuidores registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center;" class="m-0 font-weight-bold text-primary">Listado</h4>
        <a style="float: right;" href="{{url_for('laboratorio.add_laboratorio') }}" class="btn btn-success">
            <span class="text">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Agregar un nuevo laboratorio</font>
                </font>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table style="text-align:center;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for laboratorio in laboratorios %}
                    <tr>
                        <th>{{laboratorio[0]}}</th>
                        <th>{{laboratorio[1]}}</th>
                        <th>{{laboratorio[2]}}</th>
                        <th>
                            <a href="{{url_for('laboratorio.laboratorioId',id=laboratorio[0]) }}"
                                class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Ver detalle</font>
                                    </font>
                                </span>
                            </a>

                            <a href="{{url_for('laboratorio.delete_laboratorio',id=laboratorio[0]) }}"
                                class="btn btn-danger btn-circle btn-lg">
                                <i class="fas fa-trash"></i>
                            </a>

                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}