{% extends "base.html" %}

{% block titulo %} Pagina no encontrada {% endblock%}

{% block contenido %}
 <!-- 404 Error Text -->
 <div class="text-center">
  <div class="error mx-auto" data-text="404">404</div>
  <p class="lead text-gray-800 mb-5">Página {{direccion}} No encontrada</p>
  <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
  <a href="/">&larr; volver al Dashboard</a>
</div>
{% endblock %}