{% extends "empleado/base.html" %}


{% block titulo %}Tabla Clientes {% endblock %}

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Clientes</h1>
<p class="mb-4">Clientes registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Correo electronico</th>
            <th>Telefono(s)</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for cliente in clientes %}
          <tr>
            <th>{{cliente[0]}}</th>
            <th>{{cliente[1]}} {{cliente[2]}} {{cliente[3]}} {{cliente[4]}}</th>
            <th>{{cliente[5]}}</th>
            <th></th>
            <th>editar - eliminar</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}