{% extends "base.html" %}


{% block titulo %}Tabla detalleventa {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Detalle de Venta</h1>
<p class="mb-4">Detalles de Venta registrados en la base de datos</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Identificación venta</th>
            <th>Identificación Producto</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        
        <tbody>
        {% for detalleventa in detalleventas %}
          <tr>
            <th>{{detalleventa[0]}}</th>
            <th>{{detalleventa[1]}}</th>
            <th>{{detalleventa[2]}}</th>
            <th></th>
            <th> Eliminar</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}