{% if session.admin %}
{% extends "admin/base.html" %} 
{% endif %}

{% if not session.admin %}

{% extends "empleado/base.html" %} 

{% endif %}


{% block titulo %}Perfil Empleado {% endblock %} 

{% block contenido %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Perfil</h1>
<p class="mb-4">
    En esta area podrá encontrar datos relacionados al perfil de {{empleado.primerNombre}}
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('empleado.edit_perfil')}}" method="post">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Cedula</label>
                <div class="col-sm-9">
                    <input class="form-control" id="cedula" name="cedula" type="text" value="{{empleado.cedula}}" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Correo electrónico</label>
                <div class="col-sm-9">
                    <input class="form-control" id="email" name="email" type="text" value="{{empleado.email}}" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer Nombre</label>
                        <input type="text" class="form-control" id="primerNombre" name="primerNombre" readonly
                            value="{{empleado.primerNombre}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo Nombre</label>
                        <input type="text" class="form-control" id="segundoNombre" name="segundoNombre" readonly
                            value="{{empleado.segundoNombre}}" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Primer apellido</label>
                        <input type="text" class="form-control" id="primerApellido" name="primerApellido" readonly
                            value="{{empleado.primerApellido}}" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Segundo apellido</label>
                        <input type="text" class="form-control" id="segundoApellido" name="segundoApellido" readonly
                            value="{{empleado.segundoApellido}}" />
                    </div>
                </div>
            </div>
        

            <button type="button" onclick="activarEdicion()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar perfil</font></font></span>
            </button>
           
            <button type="submit"  class="btn btn-success btn-icon-split" id="btnGuardar" style="display: none;">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar cambios</font></font></span>
            </button>
        </form>
    </div>
</div>

{% endblock %}


{% block codeJS%}

<script>

function activarEdicion() {

    document.getElementById("primerNombre").removeAttribute("readonly");
    document.getElementById("segundoNombre").removeAttribute("readonly");
    document.getElementById("primerApellido").removeAttribute("readonly");
    document.getElementById("segundoApellido").removeAttribute("readonly");
    document.getElementById("email").removeAttribute("readonly");

    document.getElementById("btnGuardar").style.display = 'inline';

}
    
</script>


{% endblock %}